h1 {
    color: red;
    background-color: #b6b6b6;
}

h2 {
    color: red;
    background-color: #b6b6b6;
}

h3 {
    color: red;
    background-color: #b6b6b6;
}

h4 {
    color: red;
    background-color: #b6b6b6;
}

a:link {
    color: red;
}

a:visited {
    color: rgb(40, 116, 77);
}

a:hover {
    color: rgb(246, 255, 0);
}

#backgroundblue {
    background-color: rgb(0, 161, 255);
}

p {
    color:rgb(40, 116, 77);
    background-color: rgb(246, 255, 0);
}

.backgroundorange {
    background-color: orange;
}